*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}.bck{
    background-repeat: no-repeat;
    width: 100%;
    height: 100vh;
    background-image: url(./images/bg-pattern-top-desktop.svg);
}
.mainPage{
    margin: 60px;
    height:auto;
    font-family: League Spartan;
    font-size: 15px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    margin: auto;
}
.firstHalf{
    height: 265px;
    width:95% ;
    display: flex;
    justify-content: center;
}
.confirstHalf{
    display: flex;
    width: 1050px;
    justify-content: space-between;
    align-items: center;
}
.oneHalf{
    width: 42.5%;
}
.oneHalf h2{
    margin-bottom: 25px;
    font-size: 50px;
    color: hsl(300, 43%, 22%);
}
.oneHalf p{
    color: hsl(303, 10%, 53%);
}
.twoHalf{
    width: 42.5%;
    color: hsl(300, 43%, 22%);
    font-weight: 700;
}
.star1{
    border-radius: 10px;
    margin-bottom: 15px;
    padding: 10px;
    width: 85%;
    padding-left: 0;
    background-color: hsl(300, 24%, 96%);
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.str ul{
    display: flex;
    list-style: none;
}
.str li{
    padding: 3px;
}
.star2{
    border-radius: 10px;
    margin-bottom: 15px;
    margin-left: 35px;
    padding: 10px;
    width: 85%;
    padding-left: 0;
    background-color: hsl(300, 24%, 96%);
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.star3{
    border-radius: 10px;
    margin-left: 70px;
    padding: 10px;
    width: 85%;
    padding-left: 0;
    background-color: hsl(300, 24%, 96%);
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.secondHalf{
    margin: 0px;
    display: flex;
    justify-content: center;
    width: 95%;
}
.secondHalf .colton{
    margin-top: 20px;
    margin-right: 30px;
    height: 220px;
    width: 330px;
    border-radius: 10px;
    justify-content: center;
    align-items: center;
    display: flex;
    color: white;
    flex-direction: column;
    background-color:  hsl(300, 43%, 22%);
}
.person1{
    display: flex;
    justify-content: start;
    width: 250px;
    margin-bottom: 20px;
}
.person1 img{
    border-radius: 50px;
    width: 50px;
}
.person1 h3{
    margin-left: 20px;
    line-height: 20px;
    font-weight: 700;
}
.secondHalf .irene{
    margin-top: 40px;
    margin-right: 30px;
    border-radius: 10px;
    height: 220px;
    width: 330px;
    color: white;
    justify-content: center;
    align-items: center;
    display: flex;
    flex-direction: column;
    background-color:  hsl(300, 43%, 22%);
}
.person2{
    display: flex;
    justify-content: start;
    width: 250px;
    margin-bottom: 20px;
}
.person2 img{
    border-radius: 50px;
    width: 50px;
}
.person2 h3{
    margin-left: 20px;
    line-height: 20px;
    font-weight: 700;
}
.secondHalf .anne{
    border-radius: 10px;
    margin-top: 60px;
    height: 220px;
    width: 330px;
    color: white;
    justify-content: center;
    align-items: center;
    display: flex;
    flex-direction: column;
    background-color:  hsl(300, 43%, 22%);
}
.person3{
    display: flex;
    justify-content: start;
    width: 250px;
    margin-bottom: 20px;
}
.person3 img{
    border-radius: 50px;
    width: 50px;
}
.person3 h3{
    margin-left: 20px;
    line-height: 20px;
    font-weight: 700;
}
.review p{
    line-height: 19px;
    font-weight: 500;
}
span{
    color: hsl(333, 80%, 67%);
    font-weight: 400;
}
.h2mo{
    display: none;
}
.pmo{
    display: none;
}

@media (min-width: 320px) and (max-width: 480px) {
   .bck{
    height: auto;
    background-image: url(./images/bg-pattern-bottom-mobile.svg);
    background-image: url(./images/bg-pattern-top-mobile.svg);
   }
   .mainPage{
    font-size: 15px;
    height: 1400px;
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
   }
   .firstHalf{
    width: 350px;
    height: auto;
   }
   .confirstHalf{
    width: 350px;
    display: flex;
    flex-direction: column;
    margin: 0;
    justify-content: space-around;
    align-items: center;
    height: 600px;
   }
   .oneHalf{
    height: 250px;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
   }
   h2{
    margin-bottom: 0; 
    }
   .h2w{
    display: none;
   }
   .oneHalf .h2mo{
    height: 141px;
    margin-bottom: 0;
    font-size: 42px;
    width: 350px;
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;
   }
   .pmo{
    width: 350px;
    word-spacing: 3px;
    font-size: 15px;
    text-align: center;
    justify-content: center;
    display: flex;
   }
   .pw{
    display: none;
   }
   .twoHalf{
    display: flex;
    height: 300px;
    flex-direction: column;
    width: 100%;
    align-items: center;
    justify-content: space-evenly;
   }
   .star1{
    width: 320px;
    height: 80px;
    display: flex;
    justify-content: space-evenly;
    flex-direction: column;
    margin-bottom: 0;
   }
   .star1 img{
    width: 10px;

   }
   .star2{
    width: 320px;
    height: 80px;
    margin-left: 0;
    flex-direction: column;
    margin-bottom: 0;
    justify-content: space-evenly;
    display: flex;
   }
   .star2 img{
    width: 10px;

   }
   .star3{ 
    width: 320px;
    height: 80px;
    margin-left: 0;
    flex-direction: column;
    justify-content: space-evenly;
    display: flex;
   }
   .star3 img{
    width: 10px;

   }
   .secondHalf{
    height: 700px;
    width: 350px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
   }
   .secondHalf .colton{
    width: 320px;
    margin: 0;
   }
   .secondHalf .anne{
    width: 320px;
    margin: 0;
   }
   .secondHalf .irene{
    width: 320px;
    margin: 0;
   }
}
@media (min-width:481px) and (max-width:768px) {
    .mainPage{
        font-size: 25px;
        width: 100%;
        height: 1550px;
        display: flex;
        justify-content: space-evenly;
        align-items: center
    }
    .firstHalf{
        height: auto;
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-items: center;
    }
    .h2w{
        display: none;
       }
       .oneHalf{
        width: 95%;
        height: 200px;
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        align-items: center;
       }
    .oneHalf .h2mo{
        height: auto;
        margin-bottom: 0;
        font-size: 40px;
        display: flex;
        text-align: center;
        justify-content: start;
        align-items: center;
       }
       .pmo{
        height: auto;
        word-spacing: 3px;
        font-size: 15px;
        text-align: center;
        justify-content: center;
        display: flex;
        align-items: center;
       }
       .pw{
        display: none;
       }
    .secondHalf{
        height: 750px;
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-items: center;
    }

    .confirstHalf{
        width: 100%;
         display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-items: center;
    }
    .twoHalf{
        height: 300px;
        width: 95%;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-items: center;

    }
    .star1{
        width: 80%;
        height: 80px;
        display: flex;
        justify-content: space-evenly;
        flex-direction: column;
        margin-bottom: 0;
       }
       .star2{
        width: 80%;
        height: 80px;
        margin-left: 0;
        flex-direction: column;
        margin-bottom: 0;
        justify-content: space-evenly;
        display: flex;      
    }
    .star3{
        width: 80%;
        height: 80px;
        margin-left: 0;
        margin-right: 0;
        flex-direction: column;
        margin-bottom: 0;
        justify-content: space-evenly;
        display: flex;
    }
    .secondHalf .colton{
        margin: 0;
        width: 80%;
        height: 250px;
        font-size: 15px;
   }
   .secondHalf .anne{
        margin: 0;
        width: 80%;
        font-size: 15px;
   }
   .secondHalf .irene{
        margin: 0;
        width: 80%;
        font-size: 15px;
   }
}